:root {
    --color-white-gray:  #F4F5F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
}

.bg-color-white-gray {  
    background-color: var(--color-white-gray);  
}  

.min-height-60vh {  
    min-height: 60vh;  
}  