:root {
    --color-white-gray:  #F4F5F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
    color: var(--color-white);
}

.bg-color-white-gray {  
    background-color: var(--color-white-gray);  
}  

.min-height-60vh {  
    min-height: 60vh;  
}  

.test { 
    border: solid red 1px; 
}

.testg { 
    border: solid rgb(8, 222, 8) 3px; 
} 